body,html {
	overflow: hidden;
	background-image: url("/images/colorballbackground.jpg");
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
}

h1 {
	font-weight: bold;
	font-size: 80px;
	color: yellow;
	text-align: center;
	text-shadow: 5px 5px #000000;
}